* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    
   
}


/*This is so that the animation AAOS wont cause white space.... */
 html,
body{
width:100%;
overflow-x:hidden;
} 

body {
    font-family: sans-serif; 
    width: 100vw;
   
}



.container2 {
    height: fit-content;
    width: 100vw;
    color: white;
   }

.container2 .title {
 
 padding: 50px;
 font-family: sans-serif;
 width: 100vw;
 height:fit-content;
 text-align: left;
 font-size: 30px;
 color: white;
 background: rgba(17, 16, 20, 0.6); 

}

.container2 .title h2 {
    width:fit-content;
    /* font-family: cursive; */
    border-bottom: 1px solid white;
}




 .container2 .SklGrtWrap {
     width: 100%;
     
     display: flex;
    
   
 }

 .container2 .SklGrtWrap .skills {
    font-family: sans-serif;
    line-height: 45px;
    width:fit-content;
    color:white;
   

}




.container2 a {
  
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    margin-right: 30px;
    font-size: xx-large;
    font-weight: 600;
    color: gold;
    transition: 1s;
}

.container2 a:hover {
    color:blue;
}

.container2 .greeting {
    position: absolute;
    right:5px;
    top:15px;
    color: gold;
    font-size: 11px;


}


.container3 {
    background: rgb(8, 8, 48);
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top:0px;
     background-image: url('../images/keys3.jpg');
    background-repeat: no-repeat;
     background-size: cover; 
     color:white;


}


.container4 {
    background: rgba(17, 16, 20, 0.6); 
    height: 500px;
    width: 100vw;
   
    padding: 8vh 0px;
    color:white; 
    font-family: sans-serif;
}

.container4 p {
    width:60vw;
    margin:0px auto;
    color:white;
    line-height: 1.5;
    font-size:18px;

}




[data-aos="new-animation"] {
    transform:translate(-900px);
    
  
 
} 

[data-aos="new-animation"].aos-animate {
    transform:translate(0); 
    
  }



 .technologies {
     
    width: fit-content;
    height: fit-content;
    margin: 60px auto;
}

.fab {
  font-size: 45px;
  padding: 0px 10px;
  color: rgb(66, 66, 224);
}



.container5 {
    height: 800px;
    width: 100vw;
    padding: 50px; 
    background: rgba(17, 16, 20, 0.6); 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    margin: auto;
  
   
}

.wrapProjs {
    width:100vw;
}


.overProj{
    height:200px;
    width:350px;
    margin: 10px;
    background-color: rgba(139, 0, 0);
    transition: all 0.7s ease-in-out;
  
  }

  .overProj h2 {
    display: inline-block;
      color:white;
      height:fit-content;
      width:50px;
   
     }

     .overProj .fab {
        color: white;
        font-size: 30px;
        padding-left: 0px;
    }

     .overProj h3 {
     
          color:white;
          margin-top:15px;
          text-align:center;
          
         }
  
   .btnCont a {
    display: block;
    height:50px;
    background-color: #100f30;
    padding: 5px 4%;
    margin: 3px 0px;
    border-top:#100f30 solid 1px;
    border-bottom:#100f30 solid 1px;
     
   }
  
   .btnCont a:hover {
    border-top: silver solid 1px;
   }
  
   .btnCont p {
    display: inline-block;
    width: fit-content;
    color: white;
   
  }
  


footer .container {
    color: white;
    width:fit-content;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding:15px;
    position: relative;
   
}








footer p {
    display: inline-block;
    color: white;
    font-size: 12px;

   
}



footer a {
    text-decoration: none;
    color: white;
  
}

footer ion-icon {
    vertical-align: bottom;
    padding-right:7px;
    font-size: 20px;
    color: white;
    
}

footer .githubdiv {
    display: flex;
    width: 95vw;
    justify-content: space-between;
   
}



footer .copyright {
 width: fit-content;
 padding-right: 20px;
 

 } 









 

                /*//////////////////////1625 AND bELOW //////////////////////////////// */ 


@media screen and (max-width:1625px) {
    .containProjects {
        max-width: 760px;
    }

    .container3 {
        height: 100%;
        width: 100vw;

    }

    .container4 {
   
        margin-top:100px;
    }

    .container4 p {
        width:60vw;
    }

   
  


    footer {
      height:fit-content;
    }

    footer .copyright {
        width:fit-content;
        padding-right: 20px;
        font-size: x-small; 
     
        
          
       }


}



@media screen and (max-width:860px) {
 .container5 {
    height:1100px;
 }
}



    /*//////////////////////  550 AND bELOW //////////////////////////////// */ 

@media screen and (max-width:550px) {
    .containProjects {
        display: flex;
         flex-wrap: wrap;
         justify-content: center;
         margin: auto;
         height: fit-content;
         width: fit-content;
        
     
     }

    .container2 {
        height: 70vh;
        color: white;
      
    }

    .container2 .title {
        padding: 50px 20px;
      
         font-size: 18px;
       
   
    
    }


 

    .container2 a {
        margin: 5px 0px ;
    }
  

    .container2 .SklGrtWrap .skills {
        font-family: sans-serif;
        line-height: 30px;
       
    
    }

    .technologies {
        width: fit-content;
        height: fit-content;
        margin: 0px;
    }
    
    .technologies .fab {
      font-size: 25px;
      padding: 0px 8px;
      color: rgb(66, 66, 224);
      position: relative;
      
    }

    .overProj .fab {
        color: white;
    }


    .container3 {
      
        height: 100%;
        width: 100vw;
        position: fixed;
        z-index: -1;
        top:0px;
        background-image: url('../images/keys3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    
    }

    .container4 {
    margin-top:0px;
    height: 700px;
    }

    .container4 p {
        width : 70vw;
        font-size:18px;
    }

    .container4 .technologies {
        width: 90vw;
        margin: 60px auto;
    }

   

    .overProj {
        height:220px;
        width:400px;
        opacity: 1;
       
    
       }
    
       
    
        .overProj h2 {
          color:white;
          height:50px;
          width:50px;
          text-align: center;
          margin-right:2px;
         }
    
         .overProj h3 {
          margin-top: 16px;
         text-align:center;
         color: #fff;
         }
    
         .btnCont a {
             width:90vw;
          display: block;
          background-color: #100f30;
          padding: 5px 4%;
          margin: 3px 0px;
          border-top:#100f30 solid 1px;
          border-bottom:#100f30 solid 1px;
           
         }

         .btnCont p {
            display: inline-block;
            width: fit-content;
            color: white;
           
          }
    

  

  

    
footer .container {
    color: white;
    width:fit-content;
    height: 100px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    flex-direction: column;
    padding:15px;
    padding: 5px 0px 20px 15px;
  
}



    footer .githubdiv  {
        display: flex;
        width: 95vw;
        justify-content: space-between;
       
    }

    footer .copyright {
      font-size: x-small; 
      padding-right: 20px;

    }

 


}
