* {
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}

body {
    font-family: sans-serif; 
}



.container2 {
    height: 100vh;
    width: 100vw;
    color: white;
   
    
  
}

.container2 .title {
 padding-left: 90px;
 padding-top: 50px;
 font-family: cursive;
 width: 100vw;
 height:fit-content;
 text-align: left;
 font-size: 30px;
 color: rgb(252, 248, 248);
 

}




 .container2 .SklGrtWrap {
     width: 100%;
     
     display: flex;
    
   
 }

 .container2 .SklGrtWrap .skills {
    font-family: sans-serif;
    line-height: 45px;
    width:fit-content;
   

}




.container2 a {
  
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    margin-right: 30px;
    font-size: xx-large;
    font-weight: 600;
    color: gold;
    transition: 2s;
}

.container2 a:hover {
    color:blue;
}

.container2 .greeting {
    display: inline-block;
   width: fit-content;
   font-family: sans-serif;
   font-size: 15px;
   margin: 0px 0px;
   color: yellow;
   
}




.container3 {
    background: rgb(8, 8, 48);
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: -1;
    top:0px;
     background-image: url('../images/keys3.jpg');
    background-repeat: no-repeat;
     background-size: cover; 
     color:white;


}


.container4 {
    background: rgba(17, 16, 20, 0.6); 
    height: 500px;
    width: 100vw;
   
    padding: 8vh 0px;
    color:white; 
    font-family: sans-serif;
}

.container4 p {
    width:60vw;
    margin:0px auto;
    color:white;
    line-height: 1.5;
    font-size:15px;

    animation-name: cont4P;
    animation-duration: 5s;

}

 /* @keyframes cont4P{
    0% {transform:translate(-900px);}
100% {transform:translate(0); color:red; font-size:20px}

}  */


[data-aos="new-animation"] {
    transform:translate(-900px);
    
  
 
} 

[data-aos="new-animation"].aos-animate {
    transform:translate(0); 
    
  }

  .container4 .technologies {
     
      width: fit-content;
      height: fit-content;
      margin: 60px auto;
  }

.container4 .fab {
    font-size: 45px;
    padding: 0px 10px;
    color: rgb(66, 66, 224);
}


.container5 {
    height:fit-content;
    width: 100vw;
    padding:50px;
    background: rgba(17, 16, 20, 0.6); 
    margin: 50px auto;
    
     position: relative;
}
.container5 h1 {
    position: absolute;
    top:10px;
    left:0;
    width:100%;
    text-align: center;
    font-family: sans-serif;
    color: white;
  
  
}

.containProjects {
   display: flex;
    flex-wrap: wrap;
  justify-content: center;
    margin: auto;
    height: fit-content;
    width: fit-content;
   

}

.parent {
    position: relative;
    z-index: 2;
    height: 280px;
    width: 450px;
    margin: 15px;
   
}



.parent1 {
    background-image: url('../images/weatherAppSnippet.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(22, 15, 15, 0.26);
   
    
}
.parent2 {
    background-image: url('../images/myPostsPic.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(22, 15, 15, 0.26);

   }
.parent3 {
    background-image: url('../images/snippetCart.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(22, 15, 15, 0.26);

   }
.parent4 {
    background-image: url('../images/parallaxSnippet.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(22, 15, 15, 0.26);

   }

   .overlay {
    position: absolute;
    top:0;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    height: 280px;
    width: 450px;
    opacity: 0;
    transition: 1s ease-in-out ;
    background: rgba(202, 190, 190, 0.99);
    box-shadow: 0 10px 20px rgba(247, 241, 241, 0.26);
   
    /* border: 2px solid yellow; */
}

.overlay h2 {
    height: fit-content;
    padding: 10px;
    background: white;
    margin:auto 0px;
    border-radius: 5%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.26);
}

.overlay h2 a {
    text-decoration: none;
    color:black;
    transition: 1s;


}

.overlay h2 a:hover {
    color: rgba(202, 190, 190, 0.99);


}

.overlay:hover {
    opacity: 1;
    
}
.overlay h5 {
    height:50px;
    width: 90%;
    margin:5px auto;
}



footer .container {
    color: white;
    width:fit-content;
    height: 100px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    flex-direction: column;
    padding:15px;
    position: relative;
   

    animation-name: footerCont;
    animation-duration: 2s;
}



footer .greeting {
    position: absolute;
    right:10px;
    top:15px;
    color: gold;
    font-size: 11px;


}


/* @keyframes footerCont {

    0% {transform:translateY(300px);}
    100% {transform:translateY(0); }



} */

footer p {
    display: inline-block;
    color: gold;

   
}



footer a {
    text-decoration: none;
    color: gold;
  
}

footer ion-icon {
    vertical-align: bottom;
    padding-right:7px;
    font-size: 20px;
    color: gold;
    
}

footer .githubdiv {
    display: flex;
    width: 95vw;
    justify-content: space-between;
   
}



footer .copyright {
 width: fit-content;
 padding-right: 20px;
 

 } 









 

                /*//////////////////////1050 AND bELOW //////////////////////////////// */ 


@media screen and (max-width:1050px) {
    .container3 {
        height: 100%;
        width: 100vw;

    }

    .container4 {
   
        margin-top:100px;
    }

    .container4 p {
        width:80vw;
    }

   
  

    .parent {
         height: 200px;
        width: 350px;
        margin: 15px 15px; 
    }

    .overlay {
      height: 200px;
      width: 350px;
       
    }

    footer {
      height:fit-content;
    }

    footer .copyright {
        width:fit-content;
        padding-right: 20px;
     
        
          
       }


}



    /*//////////////////////  550 AND bELOW //////////////////////////////// */ 

@media screen and (max-width:550px) {

    .container2 {
        height: 100vh;
        color: white;
      
    }

    .container2 .title {
        padding-top: 50px;
        padding-left: 0px;
        font-size: 14px;
        text-align: center;
   
    
    }

    .container2 a {
        margin: 5px 0px ;
    }
  

    .container2 .SklGrtWrap .skills {
        font-family: sans-serif;
        line-height: 30px;
        margin: auto;
    
    }


    .container3 {
      
        height: 100%;
        width: 100vw;
        position: fixed;
        z-index: -1;
        top:0px;
        background-image: url('../images/keys3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    
    }

    .container4 {
    margin-top:0px;
    height: 600px;
    }

    .container4 p {
        width : 80vw;
        font-size:14px;
    }

    .container4 .technologies {
        width: 90vw;
        margin: 60px auto;
    }

    .container5 {
        padding:100px 0px;
    }

    .parent {
        position: relative;
        z-index: 1;
        height: 200px;
        width: 350px;
        margin: 15px auto;
    }

    .overlay {
      
        height: 200px;
        width: 350px;
       
        opacity: 1;
      
        background: rgba(202, 190, 190, 0.40);
       
      
    }

  

  

    
footer .container {
    color: white;
    width:fit-content;
    height: 100px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    flex-direction: column;
    padding:15px;
    padding: 5px 0px 20px 15px;
   

    animation-name: footerCont;
    animation-duration: 2s;
}



    footer .githubdiv  {
        display: flex;
        width: 95vw;
        justify-content: space-between;
       
    }

    footer .copyright {
      font-size: x-small; 
      padding-right: 20px;

    }

 


}
